<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style='background-color: black'>

    <h1 style='font:bold;color: rgb(255, 221, 2);font-family: Franklin Gothic Medium;text-align: center'> Nuestro primer MVT </h1>
    <h2 style='color:rgb(60, 255, 0);font-family: Trebuchet MS'>{{tarea}}</h2>
    <h3 style='color:white;font-family: Courier New'>{{requisito_1}}</h3>
    <h3 style='color:white;font-family: Courier New'>{{requisito_2}}</h3>
    <h3 style='color:white;font-family: Courier New'>{{requisito_3}}</h3>
    <h3 style='color:white;font-family: Courier New'>{{requisito_4}}</h3>

</body>

</html>